<h2>All Drivers</h2>
<% if @drivers.count == 0 %>
<h3>There are no drivers to display</h3>
<% else %>
<% @drivers.each do |driver| %>
<h3><%= link_to driver.name, driver_path(driver) %></h3>
<% end %>
<%end%>
