/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
/*html {
font-family: 'Open Sans'
}*/

/** {
display: inline-block;
}*/

html, body {
  margin:0;
  padding:0;
  height:100%;
  background-image: url("seattle.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#wrapper {
  font-family: 'Raleway';
  text-align: center;
  /*background-color: #fafafa;*/
  min-height: 100%;
  position: relative;
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

header {
  font-size: 2em;
  height: 2.5em;
  padding:10px 18px;
}

section {
  background-color: rgba(255,255,255,.6);
  margin: 0 20%;
  padding: 5px 0 20px 0;
  margin-bottom: 100px;
}

a.button {
  /*display: block;*/
  text-decoration: none;
}

.button {
  background-color: #595959;
  color: #fff;
  padding: 2px 5px;
  margin: 5px 2px;
}

.button:hover {
  background-color: #333;
}

footer {
  width: 100%;
  /*height: 100px;*/
  position: relative;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 5px 0;
}


#logo {
  font-family: 'Pacifico';
  float: left;
  padding: .4em;
  text-decoration: none;
  color: #fff;
}

#logo:hover {
  color: #fafafa;
  background-color: #333;
}

#primary_nav_wrap {
  float:right;
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  margin:0;
  padding:0
}

#primary_nav_wrap ul a
{
  display:block;
  color: #fff;
  text-decoration:none;
  text-transform: uppercase;
  padding: 0.5em 0.6em;
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li:hover
{
  background:#333;
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#595959;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
}

li#pax_link {
  width:230px;
}

li#driver_link {
  width:190px;
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}

h1 {
  font-size: 2.5em;
  font-weight:bolder;
}

.person {
  /*float: left;*/
  display: inline-block;
  text-align: center;
  padding: 10px;
}
.person a {
  text-decoration: none;
  color: #323232;
}

.person img {
    width: 30%;
}

.person img:hover {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}

.button_img {
  width: 8%;
  margin: 5px;
}
.button_img:hover {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}

table {
  margin-left:auto;
  margin-right:auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

tr:first-of-type {
  background-color: #fff;

}

th {
  font-weight: bold;
}

td a {
  text-decoration: none;
  color: #3a5266;
}

strong {
  font-weight: bold;
}

li {
  list-style-type: none;
  list-style-position: inside;
}

.field_with_errors {
  display: inline-block;
}

label {
  font-weight: bold;
}

form {
  margin: 15px 0;
}

h1 {
  font-family: 'Pacifico';
}
